<!DOCTYPE html>
<html lang="en">
  <html>	
	  <head>
      <title>Modifier User</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="css/authentification.css" />
      <link rel="stylesheet" type="text/css" href="css/first_login.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
	  <script src="js/lottie-player.js" type="text/javascript"></script>
    <script src="js/sha256.js" type="text/javascript"></script>
	<script src="js/authentification.js" type="text/javascript"></script>
  <style>
    #modifier-membre {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Impact, "Arial Black", Arial, Verdana,
    }
  </style>
	  	
    </head>
	  <body class="body">     
      <div class="login-page">
        <div class="form">
		<div class="titre">
		<h1 align="center">Modifier User BIFROST</h1>
	</div>
          <form>
            <lottie-player
              src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
              background="transparent"
              speed="1"
              style="justify-content: center"
              loop
              autoplay
            ></lottie-player>
            <a id="modifier-membre">Modifier informations User</a>
            <input id="login" type="text" placeholder="&#xf007; Login" />
            <input id="password" type="password"  placeholder="&#xf023; Password" />
			<input id="password2" type="password" placeholder="&#xf023; Confirm password" />
            <br>
            <br>
          </form>
			<form action="/showthis" method="post">
    <!-- <input type="submit"> -->
		<a><input id="signup" type="submit" value="Changer informations"  style="display: none;" ><a>
		<input type="text" id="coco" name="thing_to_show" style="display: none;" >
		<input type="text" id="coco2" name="thing_to_show2" style="display: none;" >
		<input type="text" id="coco3" name="thing_to_show3" style="display: none;">
          <a><input id="test" type="button" onclick="Securisation()"value="Verification du mot de passe"><a>
        </div>
      </div>
    </body>
 </form>