<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Assistance Bifrost</title>
    <link rel="stylesheet" type="text/css" href="css/assistance.css">
  </head>
  <body class="body">
    <input type="button" id="retour" onclick="window.location.href='http://127.0.0.1:8080/templates/menu1.html'" value="Back">
    <h1>B!frost assistance </h1>
    <img src="css/logo.png">
    <form id="my-form">
      <label for="nom">Name :</label>
      <input type="text" id="nom" name="nom" required>
      <label for="prenom">Surname :</label>
      <input type="text" id="prenom" name="prenom" required>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message for B!frost:</label>
      <textarea id="message" name="message" required></textarea>
      <input type="submit" value="Send message">
    </form>
    <script>
      const form = document.getElementById('my-form');
      form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          fetch('/assistance.html', {
              method: 'POST',
              headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
                       },
              body: new URLSearchParams(formData)

          })
          .then(response => {
          // traitement de la réponse ici
          console.log(response.text());
          // redirection de l'utilisateur
          window.location.href = 'http://127.0.0.1:8080/templates/menu1.html';
      })
      .catch(error => console.error(error));
  });
  </script>
  </body>
</html>
