<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Menu.css">
    <title>HomePageBifrost</title>
</head>
<script type="text/javascript">
function T() {
	//window.location.href="Marre.html"
    window.location.replace('http://127.0.0.1:8080/BDD');
}

function T2() {
	window.location.href="http://127.0.0.1:8080/BDD2"
}


function Signup() {
	window.location.href="http://127.0.0.1:8080/change"
}
</script>
<body>
    <header>
        <div class="section_1">

        </div>

        <div class="section_2">

        </div>
        <div class="section_3">
            <div class="section_3_partion_1">
                <div class="partition_1_head">
                    <div class="logo_container">

                    </div>
                    <nav>
                        <ul>
                            <li><a href="User.html">User</a></li>
                            <li><a href="assistance.html">Support</a></li>
                            <li><a href="choix.html">Disconnection</a></li>
                        </ul>
                    </nav>
                </div >
                <h1 class="welcome_message">B!FROST</h1>
            </div>
            <div class="section_3_partion_2">
                <div class="carts_container">
                    <div class="cart cart_1"  onclick="T()" >
                        <div class="cart_image cart_image_1" >
							
                        </div>
						<h1 align="center">BDD User</h1>
						<!-- <a href="Marre.html" ><button>Database</button></a> -->
                    </div>
                    <div class="cart cart_1" onclick="T2()">
                        <div class="cart_image cart_image_2" >
						
                        </div>
						<h1 align="center">Credentials</h1>
                    </div>
                    <div class="cart cart_1">
                        <div class="cart_image cart_image_3" onclick="Signup()">

                        </div>
						<h1 align="center">ChangeInfoUser</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>